body {
    background: linear-gradient(to bottom right, #2b3b3b, #d9d6c8, #74786f);
    background-size: cover;
    background-attachment: fixed; 
}

.box {
    font-family: 'Inter', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 18%;
    font-size: 14px;
}

fieldset {
    border: 3px solid #2b3b3b;
    border-radius: 8px;
}

#submit {
    background-color: white;
    width: 100%;
    border: none;
    padding: 15px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-color:#2b3b3b;
    color: white;
}

.popup-message2{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: green;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
}

.alterar-dados-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 15px;
    transition: background-color 0.3s;
}

.alterar-dados-button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

legend {
    border: 1px solid #2b3b3b;
    padding: 10px;
    text-align: center;
    background-color: #2b3b3b;
    border-radius: 8px;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    position: absolute;
    top: 10px; 
    right: 10px; 
    border-radius: 8px;
    cursor: pointer;
}

.div-select {
    position: relative;
    width: 220px;
    overflow: hidden;
}

/* Estilo para ocultar os rótulos */
.med-check {
    display: none;
  }

  /* Estilo para os rótulos */
  .med {
    display: inline-block;
    width: 200px; /* Largura fixa desejada */
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap; /* Evitar quebrar texto */
    overflow: hidden; /* Evitar que o texto vaze para fora da caixa */
    text-overflow: ellipsis; /* Adicionar reticências se o texto for muito longo */
  }

  /* Estilo para o radio selecionado */
  .med-check:checked + .med {
    background-color: #007BFF;
    color: rgb(255, 254, 254);
  }

  /* Estilo para o texto dentro da caixa de seleção */
  .med-check:checked + .med:before {
    content: "\2713"; /* Símbolo de checkmark (✔) */
    margin-right: 5px;
    color: white;
  }

/* Estilo para ocultar os rótulos */

.btn-check {
  display: none;
}

/* Estilo para os rótulos */
.btn {
  display: inline-block;
  width: 200px; /* Largura fixa desejada */
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  white-space: nowrap; /* Evitar quebrar texto */
  overflow: hidden; /* Evitar que o texto vaze para fora da caixa */
  text-overflow: ellipsis; /* Adicionar reticências se o texto for muito longo */
}

/* Estilo para o radio selecionado */
.btn-check:checked + .btn {
  background-color: #007BFF;
  color: rgb(255, 254, 254);
}

/* Estilo para o texto dentro da caixa de seleção */
.btn-check:checked + .btn:before {
  content: "\2713"; /* Símbolo de checkmark (✔) */
  margin-right: 5px;
  color:white;
}