body {
    background: linear-gradient(to bottom right, #2b3b3b, #d9d6c8, #74786f);
    background-size: cover;
    background-attachment: fixed; 
}

.box {
    font-family: 'Inter', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 18%;
    font-size: 14px;
}

fieldset {
    border: 3px solid #2b3b3b;
    border-radius: 8px;
}

#submit {
    background-color: white;
    width: 100%;
    border: none;
    padding: 15px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-color:#2b3b3b;
    color: white;
}

.alterar-dados-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 15px;
    transition: background-color 0.3s;
}

.alterar-dados-button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

legend {
    border: 1px solid #2b3b3b;
    padding: 10px;
    text-align: center;
    background-color: #2b3b3b;
    border-radius: 8px;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    position: absolute;
    top: 10px; 
    right: 10px; 
    border-radius: 8px;
    cursor: pointer;
}

.div-select {
    position: relative;
    width: 220px;
    overflow: hidden;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif') no-repeat #354880;
    background-position: calc(100% - 20px) center;
    width: 100%;
    height: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 13px 20px 13px 12px;
    color: #fff;
    border: none; 
    border-radius: 8px;
}

.custom-select option {
    color: #ffffff;
}

.div-select select::-ms-expand {
    display: none;
}

