body {
    background: linear-gradient(to bottom right, #2b3b3b, #d9d6c8, #74786f);
    background-size: cover;
    background-attachment: fixed;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 8px;
    cursor: pointer;
}