body {
    background: linear-gradient(to bottom right, #2b3b3b, #d9d6c8, #74786f);
    background-size: cover;
    background-attachment: fixed;
}

/* Seu arquivo formulario.css */
.table.custom-table {
    width: 100%;
}

.table.custom-table th {
    background-color: #007BFF;
    color: #FFF;
}

.table.custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

h1 {
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    width: 18%;
    text-align: center;
    /* Centraliza o texto horizontalmente */
}